<ion-card color="dark">
  <ion-card-header>
    <ion-card-subtitle>
      <span class="text-primary">{{ i +1 }}. {{ ' ' }} </span>

      <span class="noticia-source-name">{{noticia.source.name}}</span>

      <div class="noticia-more">
        <ion-button
          (click)="lanzarMenu()"
          fill="clear"
        >
          <ion-icon
            slot="icon-only"
            name="ellipsis-vertical"
          ></ion-icon>
        </ion-button>
      </div>
    </ion-card-subtitle>

    <ion-card-title (click)="abrirNoticia()">{{noticia.title}}</ion-card-title>
  </ion-card-header>

  <ion-img
    *ngIf="noticia.urlToImage"
    [src]="noticia.urlToImage"
    (click)="abrirNoticia()"
    class="animated fadeIn fast"
  ></ion-img>

  <ion-card-content>{{noticia.content}}</ion-card-content>
</ion-card>