<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Favoritos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark">

  <div *ngIf="dataLocalService.noticias.length === 0"
    class="labelVacio">
    No hay favoritos
  </div>


  <app-noticias 
  *ngIf="dataLocalService.noticias.length > 0"
  [noticias]="dataLocalService.noticias"
  [enFavorito]="true"></app-noticias>

</ion-content>
