<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Rodas's News
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark">

  <app-noticias [noticias]="noticias"></app-noticias>
  
  <ion-infinite-scroll 
  threshold="150px" 
  (ionInfinite)="loadData($event)">

    <ion-infinite-scroll-content 
    loadingSpinner="bubbles" 
    loadingText="Cargando data...">
    </ion-infinite-scroll-content>

  </ion-infinite-scroll>

  <!-- [disabled]="true" 
  position="bottom"  -->
</ion-content>
